<br><br>
<div class="content" style="display:block; text-align:center;">
	<h1>Add yourself to the list!</h1>
	
	<%= form_tag "index", :class=>"form-search" do %>
	  <%= text_field_tag "email"%>
	  <%= submit_tag "Notify me", :class=>"btn btn-primary" %>
	<% end %>

</div>